body {
    background-color: rgb(70, 70, 70);
    color: white;
}

a {
    color: rgb(148, 182, 182);
}
.container-md {
    margin-top: 1rem;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
}

#profile {
    width: 250px;
    /* border: 1.5px solid rgb(148, 148, 148); */
    border-radius: 5px;
    /* padding: 5px; */

}